<center><h1>Edit Landmark:</h1>
  <%= @landmark.name %>
  <%= @landmark.year_completed.to_s %>
<form action="/landmarks/<%= @landmark.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <b>Edit Name:</b><input type="text" name="landmark[name]" id="name">
  <b>Edit Year Completed</b><input type="text" name="landmark[year_completed] id="year_completed">
  <input type="submit" value="submit">
</form>
