<center><h1>Create a new landmark:</h1>
  <form action="/figures" method="post">
    <b>Landmark Name:</b> <input type="text" name="landmark[name]" value=""><br>
    <br>
    <b>Year Completed:</b> <input type="text" name="landmark[year_completed]" value=""><br>
    <br>
    <input type="submit" name="" value="">

  </form>
