<center><h1>Edit a Figure:</h1>
  <%= @figure.name %>
  <form action="/figures/<%= @figure.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h3>Edit Name:</h3> <input type="text" name="figure[name]">
  <h3>Edit Title:</h3><input type="text" name="figure[title_ids]">
  <input type="submit" value="submit">
</form>
